package {{package}};

{{#dependances}}
{{#packageName}}import {{packageName}};{{/packageName}}
{{/dependances}}

{{visibilite.getVisibilite}} class {{name}} {{#superType}} extends {{superType}} {{/superType}} {

    /*
     * Attributs
     */
    {{#attributeJavas}}
    {{visibilite.getVisibilite}} {{type}} {{name}};
    {{/attributeJavas}}

    /*
     * Constructeurs
     */
    {{#constructeurs}}
    {{visibilite.getVisibilite}} {{name}} () { }
    {{/constructeurs}}

    /*
     * Accesseurs
     */
    {{#methodeJavas}}
    {{visibilite.getVisibilite}} {{name}} () {
    {{#bloc}}
    {{#lignes}}
        {{ligne}};
    {{/lignes}}
    {{/bloc}}
    }
    {{/methodeJavas}}

}
